@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&family=Source+Sans+Pro:wght@300;400&display=swap');


body {
background-image: linear-gradient( to top,#FFE9F3,white,white);


font-family: "Poppins", "sans-serif", "Source Sans Pro", "sans-serif";


padding:1.25em 1em; 
display:grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-gap: 1em; 
margin-top:-3em; 

}

main {
    
max-width: 1080px;
margin: 0 auto;
background-color:#FFE9F3;
max-width: 1300px;
margin: 0 auto;
height: 900px;

}


h2{
    color:#c9417e ;
    font-family:"Poppins", "sans-serif", "Source Sans Pro", "sans-serif";   
       
 } 

 img {

    float: right;
    width: 300px;
    grid-column: 3;
    margin-top: -3;

}


 header, footer  {
 background-color: #c9417e;
 text-align: center;  
 color: white;
font-size: 20px;
 }
