/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Source+Sans+Pro:wght@600&display=swap');


body{
    background-color  :#1C9CF6;
}
header  {
    background-color: #005DB3 ;
    padding: 5px 0;
	display: flex;
    color: #FFFFFA;
   border-radius:20px;
   border:2px  solid;
   margin:auto;
   align-content:center;
	justify-content:center;
   max-width:1200px;
   min-width:300px;

    }


header img {
	width: 64px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
    margin: 0 0 0 15px;
    font-family: 'Merriweather Sans', sans-serif;
   text-align: center;
    color :#FFFFFA;
    margin-top: 0.3em;
}

.motto {
    font-family:'Source Sans Pro', sans-serif;
    font-style:italic;
	letter-spacing: 1pt;
    color :#FFFFFA;
	margin-left: 20px;
	font-size: 14px;
}



nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #fff;
    
}

nav{
    
    margin-top: 2em;
   background-color: #005DB3;
   font-family: 'Merriweather Sans', sans-serif;
   font-size: 18px;
}

nav ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

nav ul li a{
    display:block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255, 255, 255,0.8);
    border-top:1px solid rgba(0,0,0,0.3);
    
    
}
nav ul li.active a{background-color:  rgb(0,0,0,0.2); color:#fff;}

nav ul li a:hover{
    background-color:#FFCD00 ;
    color:#1C9CF6 ;
    
    
}

nav ul.hide{
    display:none;
}



  
  main {
    max-width:600px;
   margin: 0 auto;
 }


section h2{
    margin-top: 2em;
     padding:10px;
    font-family:'Source Sans Pro', sans-serif;
    color:#FFFFFA;
    height:50px;
    text-align: center;
    border: 2px solid;
    border-color:#005DB3;
    background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #207cca 34%, #2989d8 50%, #207cca 67%, #207cca 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1e5799 0%,#207cca 34%,#2989d8 50%,#207cca 67%,#207cca 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1e5799 0%,#207cca 34%,#2989d8 50%,#207cca 67%,#207cca 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 */
}


#byuLink{
    color:#FFFFFA;
    font-family:'Source Sans Pro', sans-serif;
}
  footer  {
    background-color: #005DB3 ;
    text-align: center;  
    color: white;
   font-size: 20px;
   border-radius:20px;
   border:2px  solid;
   max-width:1200px;
   min-width:300px;
   margin-bottom:-4em;
   margin: 0  auto;
   margin-top: 2em;
   font-family: 'Merriweather Sans', sans-serif;
    }










