@media only screen and (min-width: 64rem){


    nav{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 4em;
        
    }
    nav ul {
        display:flex;
        justify-content: space-around;
        width: 900px;
      
      }
     
    
    
      nav ul li a {
        text-align: center;
        padding: 0.6rem 1rem;
        font-size: 22px;
        padding-left: 10px; 
        border:none;
        padding: 0.6rem 1rem;
        border-right: 1px solid rgba (0,0,0,0.3);
        margin: 0 auto;
      }
    
      nav ul.hide {
          display: flex;
      }
    
    
      nav button {display:none;}
       
    

}