/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Playfair+Display:wght@400;500&display=swap');

body{
    background-color: #04142D;
    margin: 0 auto;
   
   
}


header img{
  width: 128px;
  position: absolute;
  top:  0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 0.5em;
}



/*MENU*/


nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'EB Garamond', serif;
    
}

nav{
   position:absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   background-color:transparent;
   font-family: 'Playfair Display', serif;
   font-size: 18px;
  
   
}

nav ul{
  position: absolute;
    list-style-type: none;
    padding:10px;
    margin:0;
    
}

nav ul li a{
 
    display:block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-top:1px solid rgba(0,0,0,0.3);
    
    
}
nav ul li.active a{background-color:  rgb(0,0,0,0.2); color:#fff;}

nav ul li a:hover{
    background-color:#FFCD00 ;
    color:#FFFFFA ;
    
    
}

nav ul.hide{
    display:none;
}

/*GALLERY*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
 position: relative;
  margin: 0 auto;
 
}


/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  
}
.img-gallery {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  width: 100%; 
  opacity: .5;
  margin-top: -5em;

  
   
     
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  position:absolute;

 
}



/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 
  
}*/

.active, .dot:hover {
  background-color: #717171;
  
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}*/

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





main{
  background-image: linear-gradient( 115deg, #fafafa 10%, #9ccafd 100%);
  border-right: 15px double #04142D;
  margin: 0 auto;

  
}

 #company-section , .board{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border-right: 15px double #04142D;*/
  font-size: 20px;
  /*background-image: linear-gradient( 115deg, #fafafa 10%, #aebef3 100%);*/
  padding:10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  font-family: 'EB Garamond', serif;
  color: #003399; 
  max-width:100%;
  }
  #company-section img{
    width:50%;
    margin: 0 auto;
    box-shadow: 8px 8px 4px #7e9dcf;
  }
  .weather-title{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  margin-top: 8em;
 
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #003399;
  
}
#current{
  position: relative;
  
 
}
#currentPhoto{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: relative;
  max-width: 100%;
  opacity: 0.45;
  height:500px;
}
.current-weather{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
margin-top: -1em;
  
 
  
  font-size: 16px;
  /*background-image: linear-gradient( 115deg, #fafafa 10%, #aebef3 100%);*/
  padding:10px;

  text-align: center;
  
  font-family: 'EB Garamond', serif;
  color: #003399; 
  max-width:100%;
}
.forecast{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:  auto;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 14em;
  font-family: 'EB Garamond', serif;
  color: #003399;
  width:200px;
  

  
 


  }
 .forecast-day{
   padding:10px;
 }
  .forecast-day img{
   
    margin: 0 auto;
  }

.events-title{
  margin-top: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #003399;
  
}

.events {
  /*border-right: 15px double #04142D;*/
  font-size: 20px;
 /*background-image: linear-gradient( 115deg, #fafafa 10%, #aebef3 100%);*/
  padding:10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  font-family: 'EB Garamond', serif;
  color: #003399;
  max-width:100%;
}
#company-section img{
  width:200px;
  max-width: 100%;
  
}
 #chamber-home{
 position: relative;
 


 
 }

#chamber-img{
  

  width:900px;
  max-width: 100%;
  opacity: 0.8 rgb(145, 144, 144);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  box-shadow: 3px 3px 4px #293c5a;
  
}

.button{
  display: flex;
  
  background-color: #04142D;
  padding:10px;
  margin: 0 auto;
  opacity: .8;
  color: #fafafa;
  height:40px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  align-items: center;
  position: absolute;
  border: 2px double #04142D;
  justify-content: left;
  margin-top: -12em;
  margin-left: 2em;
  box-shadow: 3px 3px 4px #293c5a;
}

#chamber-description{
  top: 0;
  left: 10;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border-right: 3px solid #04142D;
  border-color:#043869 #003399 ;
  background-image: linear-gradient( 115deg, #fafafa 10%, #aebef3 100%);
  color:#043869;
  margin-right: 1em;
  opacity: .8;
  font-size: 10px;
  width:150px;
  max-width:100%;
  padding: 5px;
  font-family: 'EB Garamond', serif;
  height: 125px;
  box-shadow: 3px 3px 4px #293c5a;
}

#contact-title{
  margin-top: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #043869;

    
  
}



.contact {
  
   height:210px;
  margin: 10px auto;
  position:static;
  color: #043869;
  font-family:'Source Sans Pro', sans-serif; 
  margin-top:1em;
  width:100%;

}

.contact img{
  width: 36px;
}

.contact p{
  margin-left:0.5em;

}

#instagram{
padding-left: 10px;   
width: 48px;
}


.contact-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4em;
  font-family: 'EB Garamond', serif;
 
}


/*CITY*/
.info-quito{
  position: relative;
}
/*JOIN US*/
  /*FORM AND THANK YOU PAGE*/  

  .title-page{
    
  font-family: 'Playfair Display', serif;
    color: #043869;
    margin-top: 5em;
    position: relative;
    text-align: center;
    padding: 20px;
}


  form {margin-top: 4em;
    padding:10px;
    font-family: 'EB Garamond', serif;
    color:#FFFFFA;
    width:600px;
   max-width: 100%;
   
   
}

fieldset{
 margin: 0 auto;
 max-width: 100%;
 border-style: none;
    
   
}

.form-input{
    padding:10px;
    border: 3px solid;
    border-color: #043869;
    padding:10px;
    margin-top: 1em;
    font-family: 'EB Garamond', serif;
    position: relative;
    background-image: linear-gradient( 135deg, #003399 20%, #011e60 80%);
    box-shadow: 8px 8px 4px #7e9dcf;
    max-width: 100%;
} 

input , #membership {
  font-family: 'EB Garamond', serif;
    display:flex;
    padding:12px;
    margin-top: 0.5em;
    background-color: #fafafa;
    
}
input:hover{
    background-color: #8ab4f7;
    color:#011e60;
}

#comment{
    width:100%;
    height:200px;
    font-family: 'EB Garamond', serif;
}


.button-join {
   float: right;
    width: 85px;
    height:35px;
    font-size: 18px;

    color:#FFFFFA;
    background-color: #df1620;
    margin: auto 0;
    margin-top: 1em;
    padding:5px;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    border: none;
    box-shadow: 4px 4px 4px #7e9dcf;
}

.button-join:hover{
    background-color: #011e60;
    color: #fafafa;
    font-family: 'EB Garamond', serif;
}
 
.thank-you {

    padding:20px;
     text-align: center;
     font-family: 'EB Garamond', serif;
      color:#04142D;
     width:100%;
     height: 200px;
   
}
.thank-you h1{
  margin-top: -1em;
  color: #df1620;
}

.levels{
  
  color: #043869;
  width: 400px;
  max-width: 100%;
 
  box-shadow: 8px 8px 4px #7e9dcf;
  background-image: linear-gradient( 135deg, #003399 60%, #011e60 80%);
  
  width: 400px;
  border-left: 13px double #df1620;
  border-right: 13px double #df1620;
background-color: #fafafa;
 padding-top: -15px;

}

.levels h3{
  padding:10px;
  color: #df1620;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: -0.5em;
}

.non-profit , .silver, .bronze , .gold{
 
background-color: #fafafa;
 padding: 10px;
}

.levels h2{
  text-align: center;
}


/*DIRECTORY*/
#directory img{
  width:200px;
  max-width: 100%;
}

.business{
  width:345px;
  margin:0 auto;
  border:2px black solid;
  box-shadow: 8px 8px 4px #7e9dcf;
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
  padding:5px;
  height:390px;
  
}
.business{
  
  max-width: 98%;
  word-wrap: break-word;   
}

#viewDiv{
  display:none;
  margin-top :2em;
}



/*CONTACT US*/

     figcaption{
      font-family: 'EB Garamond', serif;
       font-size:18px;
       color: #043869;
     }
     picture img[data-src] {
        filter: blur(0.2em);
       
      }
      
     picture img {
        filter: blur(0em);
        transition: filter 0.1s;
     
        
       
      }
    .board-img{
      
      height: 250px;
      max-width: 100%;
     
     
    }
   picture{
     margin-top:0.3em;
     box-shadow: 8px 8px  4px #7e9dcf;
     padding: 30px;
   }

   .title-board{
    text-align: center;
   
  }

 .contact-form{
  margin-top: -3em;
 }
 .title-contact{
  text-align:center;
  margin-top: 2em;
 }
 #contact-button{
   margin-right: -0.7em;
  
 }

 .contact-map{
  display: flex;
  justify-content: center;
  max-width:100%;
 }

 .info-quito{
   width:500px;
   max-width:100% ;
   font-family: 'EB Garamond', serif;
  color :#fafafa;
  background-image: linear-gradient( 135deg, #003399 20%, #011e60 80%);
  box-shadow: 8px 8px 4px #7e9dcf;
 
 }
  .info-quito p{
  padding:8px;
  margin-top: -0.5em;

  }
  
  .info-quito h2{
    padding:8px;
 
    font-family: 'Playfair Display', serif;
  
    }
 .info-quito img{
  width:500px;
  max-width:100% ;
 
}

#demo-list{
background-color: #fafafa;
list-style-type: none;
color: #04142D;
padding:20px;
width:320px;
justify-items: center;
margin: 0 auto;
}

#demographics h2{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#quito-foto{
  width:500px;
  max-width: 100%;

}
.events-title-city{
  margin-top: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #003399;
  
}

.events-city {
  background-image: linear-gradient( 135deg, #003399 60%, #011e60 80%);
  
  width: 400px;
  border-left: 13px double #df1620;
  border-right: 13px double #df1620;
background-color: #fafafa;
 padding-top: -15px;

  box-shadow: 8px 8px 4px #7e9dcf;
  text-align: center;
   margin-right: 5em;
  font-family: 'EB Garamond', serif;
  float:right;
  max-width:100%;
  color :#fafafa;

}
.events-div{
  background-color: #fafafa;
  padding: 5px;
  color: #04142D;

}

#form-contact{
  
  margin: 0 auto;
}
