@media only screen and (min-width: 32.5em) {
	header img {
		width: 10%;
	}

	.headings h1 {
        font-size: 3rem;
        
	}
   
	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}


   #thank-you{
	   width: 500px;
	   margin: 0 auto;
	   margin-top: 2em;
   }
		
	
#map-image{
	width:50%;
	
}



div.places img {
	max-width: 300px;

}



div.town {
	display: flex;
  flex-direction: row;
 
  }


}
.town:nth-child(even)  {
	flex-direction: row-reverse;
}
 

.places img{
	max-width: 100%;
}

.info:nth-child(odd) {
   
	text-align: center;
	margin: 0 auto;
	margin-top: 0.5em;


}



