@media only screen and (min-width: 64rem) {
  

  
  #logo {
    width:128px;
      height: auto;
  }
 
 
  nav ul {
    display:flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
  }
 


  nav ul li a {
    text-align: center;
    padding: 0.6rem 1rem;
    font-size: 22px;
    padding-left: 10px;
    margin-left:-2.7em;  
    border:none;
    padding: 0.6rem 1rem;
    border-right: 1px solid rgba (0,0,0,0.3);
    
  }

  nav ul.hide {
      display: flex;
  }


  nav button {display:none;}
   


    main  {
         max-width:64rem;  
        margin: 0 auto;
      }

 

      .current-weather {
        position: absolute;
          border: 7px  solid;
          border-color:#1C9CF6 ;
           top: 30px;
           left: 30px;
           color:#043869;
           opacity: .92;
           font-size: 20px;
           width:300px;
           
      }
        
      .current-weather h2 {
        margin-left: 0.2em;
     
    }

  
.article-image{
    
     float:right;
     width:300px;
 }
 #soda-article-image{
    
  float:right;
  width:250px;
  height:300px;
}

#fish-article-image{
    
  float:right;
  width:400px;
  height:300px;
  margin-top: 6.2em;
}
#home-article-image{
    
  float:right;
  width:400px;
  height:250px;
  margin-top: 1em;
}

   
    #forecast-title{
        margin-top:1em;
    }
    
  

    #instagram{
      margin-left: -0.3em;
    }
    .contact-section{
      height: 400px;
      max-height: 100%;
    }
    .contact-group img{
     margin-left:6em;
    }
      #map-image{
        padding:15px;
        float:left;
        margin-left: 8em;
         margin-top: -1em;
         width:350px;
         height:350px;
        max-width: 100%;
        
      }
footer{
  margin-top:2em;
}


 /*GALLERY*/
.preston-gallery {
  
  display:grid;
   grid-template-columns: 1fr 1fr 1fr; 
   
   grid-gap: 20px;
   max-width: 960px;}

figcaption{

  height:25px;
 
}

picture img { width: 100%; height: auto; }

/* hover effect */
.weather-img:hover {box-shadow:0 0 125px #FFFFFA;}

/*FORM AND THANK YOU PAGE*/

form{
  margin: 0 auto;
  width:700px;
  margin-top: 1em;
}
textarea{
  min-width:400px;
  max-width:625px;
  height:200px;
}
.title-page{
  margin-left:12.6em;
  margin-top: 1em;
  padding:5px;
}

/*HOME TOWN*/
div.places{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
          grid-gap: 50px;
      max-width:100%;
  
  }
  
  div.town img{
    display: block;
    margin: 0 auto;
    max-width:100%;
    
  }
  
  div.town{
    display: block;
  
  }
 
  

  #idaho-home{
  height:540px;
  
  }
 
}