@media only screen and (min-width: 32.5em) {
	#logo {
		width:128px;
		  height: auto;
	  }

	.headings h1 {
        font-size: 3rem;
        
	}
   
	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
	
	
   .contact-group {
	color: #fffffa;
	padding: 5px;
	padding-left: 20px;
	font-family:'Source Sans Pro', sans-serif; 
   }
   .current-weather {
	position: absolute;
    border: 7px  solid;
    border-color:#1C9CF6 ;
     top: 20px;
     left: 20px;
     color:#043869;
     opacity: .92;
     font-size: 16px;
    
     
}
#article-image{
        
	float:right;
	max-width:100%;
}

  
#instagram{
	margin-left: -0.3em;
}
.contact-section{
	height: 400px;
	max-height: 100%;
}
.contact-group img{
	margin-left: 5em;
}
	#map-image{
		padding:15px;
		float:left;
		margin-left: 2em;
	   margin-top: -1em;
	   width:300px;
	   height:300px;
		max-width: 100%;
		
	}

	footer{
		margin-top: -0.7em;
	  }

	  #fish-article-image{
    
		float:right;
		width:400px;
		height:300px;
		margin-top: 6.2em;
	  }
	  
	  .article-image{
    
		float:right;
		width:300px;
	}
	#soda-article-image{
    
		float:right;
		width:250px;
		height:300px;
	  }
	  
 /*GALLERY*/
	.preston-gallery {margin: 1rem auto;
		display:grid;
		 grid-template-columns: 1fr 1fr; 
		 grid-gap: 20px;
		 max-width: 960px;}

		
		

/*FORM AND THANK YOU PAGE*/

#thank-you{
   width: 500px;
   margin: 0 auto;
   margin-top: 2em;
}		
	

/*HOME TOWN*/
div.places img {
	max-width: 300px;

}



div.town {
	display: flex;
  flex-direction: row;
 
  }


}
.town:nth-child(even)  {
	flex-direction: row-reverse;
}
 

.places img{
	max-width: 100%;
    align-items: center;
	padding:10px;
}
.motto-towns{
	text-align: center;
	 color: #043869;
	 font-size:16px;
   }
.info:nth-child(odd) {
   
	text-align: center;
	margin: 0 auto;
	margin-top: 0.5em;


}



